body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

#typewriter{
    color: rgb(173, 172, 172);
    font-family: Mulish,Arial,sans-serif;
    font-size: 150%;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: 1fr 2fr 2fr 1fr;
    border-top: 2px solid #9f2f2f;
    border-bottom: 2px solid #9f2f2f;
    min-height: 40vh;
    /* border-radius: 0.2em; */
    
  }
  #typewriter > div{
    grid-row: 2/4;
    grid-column: 2/4;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit,1fr);
    outline: none;
  }
  .quotearea{
    grid-column: 1/5;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(auto-fit,18px);
    height: 50%;
  }
  
  .wpm{
    grid-column: 2/4;
    grid-row: 4/5;
  }
  #aimtrainer{
    margin:0;
    /* grid-column: 1/13;
    height: 96vh; */
  }
  .aimtrainerwrapper{
    grid-area: f;
    background-color: bisque;
    height: 10vh;
    text-align: center;
  }
  .blink_me {
    animation: blinker 1s linear infinite;
    background-color: #fff;
    color: #000;
  }
  .blink_me2 {
    animation: blinker 1s linear infinite;
    background-color: #000;
    color: #fff;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  
  .color1{
    color: red !important;
  }
  .color3{
    color: #9a9998 !important;
  }
  .color2{
    color: #666 !important;
  }
  color4{
    color: black !important;
  }
  .score{
    /* background-color: rgb(217, 216, 231); */
    font-size: 50px;
    text-align: center;
  }
  #aimtrainer{
    top:0;
    left:0;
    bottom: 0;
  }
  .canva > canvas{
    background-color: rgb(245, 247, 138);
  }
  
  .aim-trainer > .aimt-timer, .aimt-score, .aimt-start{
    position: absolute;
    
  }
  .aimt-timer{
    top:0;
    right: 0;
    margin-top: 1%;
    margin-right: 1%;
    color: rgb(129, 122, 122);
    font-size: 140%;
  }
  .aimt-score{
    margin-left: 50%;
    margin-top: 1%;
    color: rgb(129, 122, 122);
    font-size: 140%;
  }
  .aimt-start{
    top:0;
    margin-left:1%;
    margin-top: 1%;
    color: white;
  }
  